div.payment-form-container {
    width:80vw;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 90vh;
    padding:30px
}

div.payment-method-policy  div.payment-methods-img{
    background-image: url(./cards.png);
    height: 50px;
    width: 200px;
    background-size: contain;
}

div.payment-form-container > div.payment-bill-details{
    width: 35%;
    height: 500px;
    background-color: gold;
    border: 2px solid gainsboro;
    border-radius: 4px;
}

div.payment-method-policy > p.title{
    font-size: 25px;
    font-weight: 500;
}

div.payment-method-policy > div.payment-methods-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

div.payment-method-policy > div.card-container{
    border: solid 2px gainsboro;
    border-radius: 4px;
}