a.btn {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 5px;
}

a.btn.btn-primary {
	color: white;
	background: #ff385c;
	border-color: #ff385c;
}

.btn:active {
	background-color: #ff385c !important;
	border-color: #ff385c !important;
  }
  